/* @keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Adjust the scale value as needed */


.dash-background{
 background-color: #bbbabbe8;
 width: 89%;
 margin-top: 50px;
 height: 170px;
 border-radius: 6px;
 transition: all 0.2s ease-in;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.dash-background:hover{
  transform: translateX(10px);
 color: #32746D;
 /* text-shadow: 7px 7px 4px #00000057; */
 box-shadow:4px 4px 6px 2px #2a2e4594;
}
.dash-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.dash-vezi{
  position: relative;
  background-color: #E9E3E6;
  padding: 3px;
  /* padding-left: 10px; */
  border-radius: 5px;
  color: #32746D;
  transition: all 0.2s ease;
  width: 130px;
  
}
.dash-vezi:hover{
  background-color:#32746D;
  color:#E9E3E6;
}
.book-dash{
  color: #32746D;
  height: 30px;
  width: 30px;
  /* background-color: bisque; */
  position: absolute;
  left: -30px;
  top: -1px;

}
.dash-edit{
  position: relative;
  background-color: #E9E3E6;
  padding: 3px;
  /* padding-left: 10px; */
  border-radius: 5px;
  color: #32746D;
  transition: all 0.2s ease;
  width: 130px;
}
.dash-edit:hover{
  background-color:#1d1772;
  color:#E9E3E6;
}
.cube-dash{
  color: #1d1772;
  height: 30px;
  width: 30px;
  /* background-color: bisque; */
  position: absolute;
  left: -30px;
  top: -1px;
}
.dash-delete{
  position: relative;
  background-color: #E9E3E6;
  padding: 3px;
  /* padding-left: 10px; */
  border-radius: 5px;
  color: #32746D;
  width: 130px;
  transition: all 0.2s ease;
}
.dash-delete:hover{
   background-color:#db0e0e;
  color:#E9E3E6;
}
.out-dash{
  color: #db0e0e;
  height: 30px;
  width: 30px;
  /* background-color: bisque; */
  position: absolute;
  left: -30px;
  top: -1px;
}