.anunturi-dashedit-container{
 padding-top: 30px;
 width: 100%;
 height: 800px;

background-color: #32746D;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
padding-bottom: 15px;
}
.anunturi-form-dashedit-Container{
 border-radius: 10px;
   padding-bottom: 20px;
   width: 80%;
   background-color: #E9E3E6;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.flocmp2{
 margin-top: 20px;
 height: 500px;
}
.profile-select-cont{
 width: 80%;
 height: 60%;
 display: flex;
justify-content: space-around;
}