a {
 display: inline-block;
 text-decoration: none;
 text-align: center;
 color: #2A2E45;
 font-size: 17px;
}

.anunt{
 display: flex;
 flex-direction: row;
 border-radius: 6px;
 width: 89%;
 height: 170px;
 background-color: #bbbabbe8;
 margin-top: 30px;
 transition: all 0.2s ease-in;
}
.anunt:hover{
 transform: translateX(10px);
 color: #32746D;
 /* text-shadow: 7px 7px 4px #00000057; */
 box-shadow:4px 4px 6px 2px #2a2e4594;
 
 /* box-shadow: 10px 10px 80px 0px rgb(134, 132, 132); */
}
.book1-pic{
 width: 110px;
 height: 140px;
 border-radius: 10px;
 margin-bottom: 8px;
 align-self: flex-center;
}
.first-book{
 display: flex;
 flex:1;
}
.second-book{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-width: 310px;

 
 flex:1;
 color: #2A2E45;
 font-family: 'Dosis', sans-serif;
}
.left-part{

 color: #2A2E45;
 font-family: 'Dosis', sans-serif;
 padding: 6px;
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 310px;
}
.right-part{
 position: relative;
 color: #2A2E45;
 font-family: 'Dosis', sans-serif;
display: flex;
 flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}
.user-logo{
 color: #32746D;
 position: absolute;
 left: -18px;
 top: 34px;
}
.book-condition-logo{
  position: absolute;
 left: -18px;
 top: 79px;
}
.book-date-logo{
  position: absolute;
  color: rgb(230, 21, 21);
 left: -20px;
 top: 118px;
}
.arrow{
 flex:1;
 margin-top: 42px;
 width: 60px;
 height: 60px;
 padding: 10px;
}
/* .arrow:hover{
 /* color: #32746D; */
.text-left-part{
  align-self: flex-start;
  justify-self: flex-start;
}