@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
.morepadding {
  min-height: 500px;
  background-color: #2a2e45;
}
.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 30px 40px; /* space between items */
  padding: 16px;
}

.book-container {
  /* background-color: #f9f9f9; */
  padding: 18px 10px;
  border: 1px solid #dddddd00;
  border-radius: 18px;
  text-align: center;
  min-height: 370px;
  max-width: 245px;
  transition: all ease-in 0.1s;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
.book-container:hover {
  border: 1px solid #ffffff;
  box-shadow: 14px 14px 220px 4px #32746d69;
  cursor: pointer;
  transform: scale(1.02);
}
.book-title-bk {
  font-size: 0.8em;
  margin-bottom: 0.3em;
  color: #ffffff;
  margin-top: 4px;
  margin-left: 5px;
  font-weight: bold;
  font-style: italic;
}

.book-author-bk {
  font-size: 0.7em;
  margin-bottom: 1em;
  color: #949494;
  margin-left: 5px;
}

.book-image-bk {
  max-width: 100%;
  min-height: 88%;
  max-height: 88%;
  border-radius: 4px;
  border-radius: 15px;
}
.updated-modal-content {
  background-image: url("https://cdn.dribbble.com/userupload/10995056/file/original-80284b44f1b79eba09332a48b2102365.png?resize=500x500&vertical=center");
  background-position: center;
  box-shadow: 1px 1px 200px 5px #32746dc0;
  min-height: 500px;
}
.form-for-books {
  display: flex;
  flex-direction: column;
}

.form-for-books {
  background-color: #2E4057; /* Matches the dark background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto; /* Adds some space around the form */
  font-family: 'Arial', sans-serif;
  color: #FFFFFF; /* White text for contrast */
  text-align: center; /* Center-aligns the text */
}

.form-for-books input[type="text"] {
  width: calc(100% - 22px); /* Full width minus padding */
  padding: 10px;
  margin: 10px 0; /* Adds space between inputs */
  border: 1px solid #CCCCCC; /* Light grey border */
  border-radius: 5px;
  font-size: 16px;
  background-color: #3C5874; /* Slightly lighter dark background */
  color: #FFFFFF; /* White text */
}

.form-for-books button {
  padding: 10px 15px;
  margin: 10px 5px; /* Space between buttons */
  border: none;
  border-radius: 5px;
  background-color: #1E75BB; /* Matches the blue accent color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-for-books button:hover {
  background-color: #145A87; /* Darker shade of blue for hover */
}

.form-for-books button:focus {
  outline: none;
  box-shadow: 0 0 3px #145A87; /* Matches hover color */
}

h2 {
  text-align: center;
  color: #FFFFFF; /* White text */
  font-size: 24px;
  margin-top: 20px;
}
