@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
.morepadding {
  min-height: 500px;
  background-color: #2a2e45;
}
.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 30px 40px; /* space between items */
  padding: 16px;
}

.book-container {
  /* background-color: #f9f9f9; */
  padding: 18px 10px;
  border: 1px solid #dddddd00;
  border-radius: 18px;
  text-align: center;
  min-height: 370px;
  max-width: 245px;
  transition: all ease-in 0.1s;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
.book-container:hover {
  border: 1px solid #ffffff;
  box-shadow: 14px 14px 220px 4px #32746d69;
  cursor: pointer;
  transform: scale(1.02);
}
.book-title-bk {
  font-size: 0.8em;
  margin-bottom: 0.3em;
  color: #ffffff;
  margin-top: 4px;
  margin-left: 5px;
  font-weight: bold;
  font-style: italic;
}

.book-author-bk {
  font-size: 0.7em;
  margin-bottom: 1em;
  color: #949494;
  margin-left: 5px;
}

.book-image-bk {
  max-width: 100%;
  min-height: 88%;
  max-height: 88%;
  border-radius: 4px;
  border-radius: 15px;
}
.updated-modal-content {
  background-image: url("https://cdn.dribbble.com/userupload/10995056/file/original-80284b44f1b79eba09332a48b2102365.png?resize=500x500&vertical=center");
  background-position: center;
  box-shadow: 1px 1px 200px 5px #32746dc0;
  min-height: 500px;
}
.form-for-books {
  display: flex;
  flex-direction: column;
}
