.morepadding {
  min-height: 500px;
  background-color: #2a2e45;
}
.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 30px 78px; /* space between items */
  padding: 16px;
}

.book-container {
  /* background-color: #f9f9f9; */
  padding: 10px;
  border: 1px solid #dddddd00;
  border-radius: 18px;
  text-align: center;
  min-height: 370px;
  max-width: 215px;
  transition: all ease-in 0.1s;
  text-align: left;
}
.book-container:hover {
  border: 1px solid #ffffff;
  box-shadow: 14px 14px 220px 4px #32746dc0;
  cursor: pointer;
  transform: scale(1.02);
}
.book-title-bk {
  font-size: 0.9em;
  margin-bottom: 0.3em;
  color: #ffffff;
  margin-top: 4px;
}

.book-author-bk {
  font-size: 0.8em;
  margin-bottom: 1em;
  color: #949494;
}

.book-image-bk {
  max-width: 100%;
  min-height: 84%;
  border-radius: 4px;
  border-radius: 15px;
}
.updated-modal-content {
  background-image: url("https://cdn.dribbble.com/userupload/10455063/file/original-b2643b7e44bbf0a2bd2e3499dc5a2064.png?resize=500x500");
  background-position: center;
  box-shadow: 1px 1px 200px 5px #32746dc0;
}
