/* @keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Adjust the scale value as needed */
  



.anunturi-pers-container{
  padding-top: 30px;
 width: 100%;
 height: 800px;

background-color: #32746D;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
padding-bottom: 15px;
}
.anunturi-form-pers-Container{
   border-radius: 10px;
   padding-bottom: 20px;
   width: 80%;
   background-color: #2A2E45;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.profile-select-cont
{
  display: flex;
  justify-content: space-between;
}
.profile-pers{
 margin-bottom: 100px;
 width: 50%;
 height: 550px;
 position: relative;
 overflow: hidden;
}

.personal-profile-pic{
   border-radius: 9px;
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
background-image: url('https://wallpapers.com/images/high/harry-potter-pictures-g3z4vzgx0vki4zsi.webp');
transition: 1.7s;
}
.personal-profile-pic:hover{
  transform: scale(1.2);
   filter: blur(5px) brightness(0.7);
}
.personal-profile-link{
  font-size: 50px;
  color: #E9E3E6;
  width: 200px;
  height: 75px;
   background-color: #32746dc5;
 /* padding: 2px; */
 position: absolute;
 color:#E9E3E6;
 border-radius: 3px;
 top: 43%;
 left: 30%;
}
/* https://wallpapers.com/images/high/best-linkedin-background-0w1ydyxq7jadktyw.webp */
.personal-dashboard-pic{
  border-radius: 9px;
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
background-image: url('https://wallpapers.com/images/high/best-linkedin-background-0w1ydyxq7jadktyw.webp');
transition: 1.7s;
}

.personal-dashboard-pic:hover{
   transform: scale(1.2);
   filter: blur(5px) brightness(0.7);
}
.personal-dashboard-link{
  font-size: 50px;
  color: #E9E3E6;
  width: 250px;
  height: 75px;
   background-color: #282699c5;
 /* padding: 2px; */
 position: absolute;
 color:#E9E3E6;
 border-radius: 3px;
 top: 43%;
 left: 27%;
}