.notif-afis{
 margin-top: 20px;
 display: flex;
 justify-content: space-around;
 border-top: 1px solid white;
 border-bottom: 1px solid white;
 border-right: 1px solid white;
 padding: 8px 0px;
 position: relative;
 transition: all 0.2s ease-in;
}
.notif-afis:hover{
  background-color: black;
}
.notif-message{
 max-width: 340px;
  font-size: 22px;
  margin: 0px;
}

.bell-botif{
  position: absolute;
  left: 370px;
  top: 20px;
 border: 1px solid white;
 padding: 3px;
 border-radius: 50%;
 width: 20px;
 height: 20px;
 margin-bottom: 3px;
 cursor: pointer;
}
.bell-botif:hover{
 color: #A30015;
 border: 1px solid #A30015;
}
